
<div class="row">
    <div class="col-12" style="text-align:center">

    </div>
</div>

<div class="col-12 row" style="">
     <div style=" width:100%;">
                <img src="~/Images/header-activos.PNG" alt="" style="max-width:100%;" />
            </div>
			<div class="text-center" style="margin-left: 39%;">
                        <div align="center">
                            <div class="welcome-subtitle" style="font-weight: 500; font-size:24px; font-family:HelveticaNeue35thin; padding-top:15px; color: #3a3e43 !important;line-height:34.2833px;">Encuestas Capital Humano</div>
                            
                        </div>
                    </div>
</div>


<script src="~/Scripts/clock.js"></script>
<script>
    var HospitalCount=@ViewBag.HospitalesCount;
    history.pushState('', '', '/Home/Index');
</script>
