
<div class="row">
    <div class="col-12" style="text-align:center">

    </div>
</div>

<div class="col-12 row" style="">
    <div class="col-1">

    </div>
    <div class="col-12 row" style="height:50%">

     
    </div>
</div>


<script src="~/Scripts/clock.js"></script>
<script>
    var HospitalCount=@ViewBag.HospitalesCount;
    history.pushState('', '', '/Home/Index');
</script>
