/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .RM {
        display: none;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 100px) and (max-width: 767.98px) {
    .RM {
        display: none;
    }
    .TitHom1 {
        display: none;
    }

    .TitHom2 {
        display: block;
    }
}

.dropdown-item:hover {
    background-color: #B8B7B9 !important;
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .TitHom1 {
        display: none;
    }
    .TitHom2{
        display:block;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .PreventBW {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }

    .TitHom1 {
        display: block;
    }

    .TitHom2 {
        display: none;
    }
}

 /*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .PreventBW {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }

    .TitHom1 {
        display: block;
    }

    .TitHom2 {
        display: none;
    }
}

@font-face {
    font-family: 'HelveticaNeue35thin';
    src: url('../fonts/helvetica-neue35thin.eot');
    src: url('../fonts/helvetica-neue35thin.eot?#iefix') format('embedded-opentype'), url('../fonts/helvetica-neue35thin.woff') format('woff'), url('../fonts/helvetica-neue35thin.ttf') format('truetype'), url('../fonts/helvetica-neue35thin.helvetica-neue35thin') format('svg');
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/helvetica-neue-light.eot');
    src: url('../fonts/helvetica-neue-light.eot?#iefix') format('embedded-opentype'), url('../fonts/helvetica-neue-light.woff') format('woff'), url('../fonts/helvetica-neue-light.ttf') format('truetype'), url('../fonts/helvetica-neue-light.helvetica-neue-light') format('svg');
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/helvetica-neue-light.eot');
    src: url('../fonts/helvetica-neue-light.eot?#iefix') format('embedded-opentype'), url('../fonts/helvetica-neue-light.woff') format('woff'), url('../fonts/helvetica-neue-light.ttf') format('truetype'), url('../fonts/helvetica-neue-light.helvetica-neue-light') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueRoman';
    src: url('../fonts/HelveticaNeueRoman.eot');
    src: url('../fonts/HelveticaNeueRoman.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueRoman.woff') format('woff'), url('../fonts/HelveticaNeueRoman.ttf') format('truetype'), url('../fonts/HelveticaNeueRoman.HelveticaNeueRoman') format('svg');
}

@font-face {
    font-family: 'HelveticaNeue85bold';
    src: url('../fonts/helvetica-neue85bold.eot');
    src: url('../fonts/helvetica-neue85bold.eot?#iefix') format('embedded-opentype'), url('../fonts/helvetica-neue85bold.woff') format('woff'), url('../fonts/helvetica-neue85bold.ttf') format('truetype'), url('../fonts/helvetica-neue85bold.helvetica-neue85bold') format('svg');
}

@font-face {
    font-family: 'HelveticaNeue75bold';
    src: url('../fonts/helvetica-neue75bold.eot');
    src: url('../fonts/helvetica-neue75bold.eot?#iefix') format('embedded-opentype'), url('../fonts/helvetica-neue75bold.woff') format('woff'), url('../fonts/helvetica-neue75bold.ttf') format('truetype'), url('../fonts/helvetica-neue75bold.helvetica-neue75bold') format('svg');
}

@font-face {
    font-family: 'HelveticaNeue37cn';
    src: url('../fonts/helvetica-neue37Cn.eot');
    src: url('../fonts/helvetica-neue37Cn.eot?#iefix') format('embedded-opentype'), url('../fonts/helvetica-neue37Cn.woff') format('woff'), url('../fonts/helvetica-neue37Cn.ttf') format('truetype'), url('../fonts/helvetica-neue37Cn.helvetica-neue37Cn') format('svg');
}

@font-face {
    font-family: 'HelveticaNeue77cnbold';
    src: url('../fonts/helvetica-neue77boldCn.eot');
    src: url('../fonts/helvetica-neue77boldCn.eot?#iefix') format('embedded-opentype'), url('../fonts/helvetica-neue77boldCn.woff') format('woff'), url('../fonts/helvetica-neue77boldCn.ttf') format('truetype'), url('../fonts/helvetica-neue77boldCn.helvetica-neue77boldCn') format('svg');
}


.grey-space {
    margin: 0;
    background: #98999b;
    padding: 0.9em;
    color: #FFF;
    font-size: 1.2em;
    text-align: right;
}

.slogan-space-manager {
    width: 140px;
    height: auto;
    margin-right: 0.9em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

#adn {
    width: 100%;
    height: 10px;
    background: url(../Images/adn2.jpg);
    margin-top: 0px;
}

.invalid-feedback{
    display:block;
}

.tituloseccion {
    font-size: 14px;
    font-weight: 500;
}


.tituloform {
    font-size: 14px;
    font-weight: bolder;
    padding: 0px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #EBE9E9;
}


.footer {
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    height: auto;
    background: #A7A9AB;
    color: white;
}

.container-transparent {
    z-index: 1;
    width: 380px;
    height: 210px !important;
    margin-bottom: 20px;
    margin-top: -50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: url(../Images/cuadro.png) repeat;
}
.div-selected:focus {
    border: solid;
}
.gray-light {
    background-color: #ebe9e9;
}


input[type="password"] {
    height: 28px;
}

input[type="text"], input[type="date"] {
    height: 28px;
}
/*div:focus {
    border: 3px solid #b8b7b9 !important;
}*/

.centerVDIV {
    display: flex;
    align-items: center;
    
}


.side-nav .logo-sn {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

    .side-nav .logo-sn img {
        height: 38px;
    }

.side-nav .search-form input[type=text] {
    margin-top: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.LBT12 {
    font-family: "HelveticaNeueRoman" !important; /*Roboto,sans-serif;*/
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 1.42857143 !important;
    color: #696A6C !important;
    background-color: white !important;
}

.LetraBodyW {
    font-family: "HelveticaNeueRoman" !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 1.42857143 !important;
    color:white !important;
}

.LTT12B {
    font-family: "HelveticaNeueRoman" !important;
    font-size: 12px !important;
    font-weight: 800 !important;
    line-height: 1.42857143 !important;
    color: rgba(0,0,0,.54) !important;
}

.colorStarmedica {
    background-color: #98999A;
}

.btn-primary2 {
    background-color: rgba(152, 153, 154, 1) !important;
}

.light-blue-skin .btn-secondary {
    background-color: rgba(184, 183, 185, 1) !important;
}

.accordion a {
    color: rgba(58, 62, 67, 1) !important;
}

.btn-secondary:hover, .btn-primary2:hover, .btn-default:hover {
    background-color: rgba(58, 62, 67, 1) !important;
}

.btn-primary2:not([disabled]):not(.disabled).active {
    background-color: #e30024 !important;
}

.btn-link {
    color: #909194 !important;
}

    .btn-link:hover{
        text-decoration:none !important;
    }

.modal-body{
    max-height:72vh;
    overflow:auto;
}

.btn-starmedica, .btn-default {
    background-color: #dcdada;
    color:black;
}
    .btn-starmedica:hover, btn-starmedica:focus, .btn-default:hover, .btn-default:focus {
        background-color: #98999a !important;
        color: white;
    }
/*.fa-times-circle {
    color: #c36a62 !important;
}*/
.btn-starmedica-danger {
    background-color: #dcdada;
    color: #dc3545;
}

    .btn-starmedica-danger:hover, btn-starmedica-danger:focus {
        background-color: #98999a !important;
        color: white;
    }


.btn-starmedica-success {
    background-color: #dcdada;
    color: #218838;
}

    .btn-starmedica-success:hover, btn-starmedica-success:focus {
        background-color: #98999a !important;
        color: white;
    }


.CenterColumn {
    text-align: center
}
/*.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background: #98999b;
    color: white;
}*/









































.tree, .tree ul {
    margin: 0;
    padding: 0;
    list-style: none
}

    .tree ul {
        margin-left: 1em;
        position: relative
    }

        .tree ul ul {
            margin-left: .5em
        }

        .tree ul:before {
            content: "";
            display: block;
            width: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            border-left: 1px solid
        }

    .tree li {
        margin: 0;
        padding: 0 1em;
        line-height: 2em;
        color: #369;
        font-weight: 700;
        position: relative
    }

    .tree ul li:before {
        content: "";
        display: block;
        width: 10px;
        height: 0;
        border-top: 1px solid;
        margin-top: -1px;
        position: absolute;
        top: 1em;
        left: 0
    }

    .tree ul li:last-child:before {
        background: #fff;
        height: auto;
        top: 1em;
        bottom: 0
    }

.indicator {
    margin-right: 5px;
}

.tree li a {
    text-decoration: none;
    color: #369;
}

.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color: #369;
    border: none;
    background: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    outline: 0;
}

.branch{
    display:block !important;

}

h3 {
    color: #929DA8;
    font-family: HelveticaNeueRoman !important;
    font-size: 20pt;
}

label {
    font-family: HelveticaNeueRoman !important;
    color: #4b4e53;
    font-size: 12px;
}



.btn-primary-star {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

    .btn-primary-star:hover {
        color: #fff;
        background-color: #1b8eb7;
        border-color: #1985ac;
    }

    .btn-primary-star:focus, .btn-primary-star.focus {
        box-shadow: 0 0 0 0.2rem rgba(32, 168, 216, 0.5);
    }

    .btn-primary-star.disabled, .btn-primary-star:disabled {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-primary-star:not(:disabled):not(.disabled):active, .btn-primary-star:not(:disabled):not(.disabled).active,
    .show > .btn-primary-star.dropdown-toggle {
        color: #fff;
        background-color: #1985ac;
        border-color: #187da0;
    }

        .btn-primary-star:not(:disabled):not(.disabled):active:focus, .btn-primary-star:not(:disabled):not(.disabled).active:focus,
        .show > .btn-primary-star.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(32, 168, 216, 0.5);
        }

.form-check {
    padding-bottom: 4px;
    padding-top: 4px;
}

th {
    background-color: #00979E !important;
    color: #fff !important;
    /*background-color: #98999a !important;  #c2c7de !important;
    color: #fff !important;*/
}

.hox {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
}

.dataTables_processing {
    z-index: 1000;
    font-size: 25px;
    background-color: #dadada;
    opacity: 0.7;
}


.checkN {
    border: 1px solid #4B4E53;
}

    .checkN:checked {
        background: #4B4E53;
    }

.buttons-colvis{
    vertical-align:middle;
}

.p-2{
    padding-left:0px !important;
}

th {
    font-weight: normal !important;
}

.modal-header {
    padding: 5px !important;
}
.modal-title {
    font-size: 14px !important;
}

.modal-content {
    background-clip: border-box;
}